@mixin displayItems {
    display: flex;
    justify-content: center;
}
.search-container{
    width: 100%;
    @include displayItems();

    & form{
        width: 50%;
        @include displayItems();

        & input{
            padding: 8px;
        }

        #gsearch{
            width: 95%;
        }
    }
}

.post-container {
    padding-top: 20px;
    width: 100vw;
    margin: 0px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 27px;

    & .post-link{
        text-decoration: none;
        color: black;
    }

    & .post{
        padding: 15px;
        width: 30vw;
        background: #ffffff;
        border-radius: 15px;
        border: 1px solid #90B319;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

        & h2{
            margin-top: 0.5rem;
        }
        & p{
            text-align: justify;  
        }
        
    }
}

@media only screen and (max-width: 688px) {
    .post-container{
      width: 100vw;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
      align-items: center;
      margin: 0px 20px;
      justify-content: center;
      
      & .post {
        width: 100vw;
      }
    }
    .search-container{
        margin-top: 20px;
    }
  }